**/.env

/data/**/*
!/data/custom
!/data/custom/.gitkeep
!/data/embeddings
!/data/embeddings/.gitkeep
!/data/models
!/data/models/deepbooru
!/data/models/deepbooru/.gitkeep
!/data/models/karlo
!/data/models/karlo/ViT-L-14_stats.th
!/data/models/Stable-diffusion
!/data/models/Stable-diffusion/.gitkeep
!/data/models/VAE
!/data/models/VAE/.gitkeep
!/data/models/VAE-approx
!/data/models/VAE-approx/model.pt

/services/**/*
!/services/comfyui
!/services/comfyui/extra_model_paths.yaml
